/* CatalogueLayout.css */
.catalogue-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    height: 100%;
    overflow-y: auto;
}

.main-content {
    flex: 1; /* Main content takes remaining space */
    padding: 20px;
}


/* Sidebar.css */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%; /* Add this line to make the list take up the full height */
    display: flex;
    flex-direction: column; /* Add this line to stack list items vertically */
}

.sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
}

/* Existing styles for .item-container, .item-number, and .item-dropdown */