/* ItemDetails.css */

.item-details {
    display: flex;
    flex-direction: column;
}

.item-description {
    margin-bottom: 20px;
}

.item-types {
    margin-bottom: 20px;
}

.item-types ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.item-types li {
    margin-right: 10px;
}

.item-colors {
    margin-bottom: 20px;
}

.color-swatches {
    display: flex;
}

.color-swatch {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    margin-right: 10px;
}

.item-images {
    display: flex;
}

.item-images img {
    max-width: 150px;
    height: auto;
    margin-right: 10px;
}
.item-details-container {
    display: flex;
    justify-content: space-between ;
    margin-right: 50px;
    align-items: center ;
    overflow: auto;
}